<div class="header">
	<div class="container">
		<div class="row">
			<div class="header-logo">
				<a href="#"><%= image_tag 'logo.png' %></a>
			</div>
			<div class="twelve columns">
				<div class="hero-image">
					<div class="text-content">
						<h1>An app for the <br>dedicated surfer.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row app-store-badge">
			<div class="row">
			    <!-- Begin MailChimp Signup Form -->

					<div id="mc_embed_signup">
					<form action="//explorewaves.us10.list-manage.com/subscribe/post?u=a8abdf3a7268e98d0359ac0d4&amp;id=c61b30d4ca" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<label for="mce-EMAIL">Sign up for early access</label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_a8abdf3a7268e98d0359ac0d4_c61b30d4ca" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Sign Up For Beta" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
					</div>

					<!--End mc_embed_signup-->
			</div>
		</div>
		<div class="row">
			<div class="hr-break">
				<hr>
			</div>
		</div>
		<div class="row bullet-points">
			<div class="four columns">
				<h3>Catalog your spots & sessions</h3>
				<p>Add all your surf spots and sessions to Waves. Everying is organized on your personal map. When a new swell is up, compare your old logs against the current conditions to be better informed. Find right spot, and surf better waves!</p>
			</div>
			<div class="four columns">
				<h3>Just take a picture</h3>
				<p>Adding to your catalog is super easy. Just take a picture before or after you surf and upload it to Waves. Using your photo’s location and date, Waves finds the closest buoy and grabs the relevant data from your session. </p>
			</div>
			<div class="four columns">
				<h3>Your data is private, seriously</h3>
				<p>We built Waves because we wanted to surf better waves, not give away our secrets. We won’t share or give away any of your data either. This means any sessions or spots you upload to Waves will be kept completely private.</p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="hr-break">
				<hr>
			</div>
		</div>
		<div class="row footer-content">
			<div class="six columns">
				<h4>Contact Us</h4>
				<p class="footer-p">info@explorewaves.com</p>
			</div>
			<div class="six columns">
				<h4>Instagram/Snapchat</h4>
				<a href="http://instagram.com/waves_app"><p class="footer-p">@waves_app</p></a>
			</div>
		</div>
	</div>
</div>