cata/*=========================================
Reset
=========================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.group:before,
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}


/*=========================================
Header
=========================================== */


/*=========================================
Hero
=========================================== */

.hero {
	padding-top: 50px;
}

#hero-headline {
	padding-top: 25px;
	text-align: center;
}

.tagline {
	color: #FF4738;
	mix-blend-mode: multiply;
}

#hero-form {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 8px;
}

.validate {
	margin-bottom: 0;
}

.hero-label {
	color: #FFF;
	font-weight: 600;
	font-size: 20px;
	display: inline-block;
	margin-top: 2px;
}

.email {
	display: inline-block;
}

.form-column {
	width: 84%;
	margin-left: 9%;
}

.form-columns {
	width: 22%;
	margin-left: 0%;
	float: left;
	box-sizing: border-box;
}

.form-columns:first-child {
	margin-left: 6%;
}

.hero-image {
	background: image-url('hero-img.jpg') no-repeat center;
	width: 100%;
	min-height: 589px;
	background-size: 100%;
	position: relative;
	}

.hero-pointer {
	text-align: center;
	padding-top: 15px;
}

.form-label {
	text-align: center;
	padding-bottom: 10px;
}

@media (max-width: 550px) {
	.hero-image {
		background: none;
		min-height: 0;
	}
	#hero-form {
		display: none;
	}
	hr {
		display: none;
	}
}


/*=========================================
Body
=========================================== */


#catalog {
	padding-top: 100px;
}
.catalog-columns {
	width: 42%;
	margin-left: 8%;
	float: left;
	p {
		color: #333;
	}
}

.bullet-columns {
	width: 28%;
	margin-left: 8%;
	float: left;
	text-align: center;
	h3 {
		padding-top: 50px;
	}
}

.bullet-columns:first-child {
	margin-left: 0;
}

.main-content {
	padding-top: 25px;
	h2 {
		padding: 25px 0 40px;
	}
}

.bullet-points {
	padding: 75px 0 100px 0;
}

#body-form {
	padding-top: 100px;
	.hero-label {
		color: #222;
		font-weight: 400;
	}
}

@media (max-width: 550px) {
	.main-content,
	.bullet-points {
		display: none;
	}

	.catalog-columns {
		padding-top: 25px;
		width: 100%;
		margin-left: 0;
		img {
			width: 100%;
		}
	}

	#body-form {
		padding-top: 25px;
		position: relative;
		bottom: 0;
		width: 100%;
		padding-bottom: 0;
		text-align: center;
		.button {
			margin-left: 0;
		}
	}
	.form-column {
		width: 100%;
		margin-left: 0;
	}
	.form-columns {
		width: 100%;
		margin-left: 0;
	}
	.form-columns:first-child {
	margin-left: 0;
	}
	.hero-label {
		float: none;
		color: #222;
	}
	.hero-pointer {
		display: none;
	}
}

/*=========================================
Footer
=========================================== */

/**
 * Site footer
 */

 .site-footer {
border-top: 2px solid #E3E4EC;
padding: 50px 0;
margin-top: 100px;
}

 .email {
  color: #00B4FF;
}

.site-footer {
    border-top: 2px solid #E3E4EC;
    padding: 50px 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 50px / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #919496;
    margin-left: -50px / 2;
}

.footer-col {
    float: left;
    margin-bottom: 50px / 2;
    padding-left: 50px / 2;
}

.footer-col-1 {
    width: -webkit-calc(25% - (#{50px} / 2));
    width:         calc(25% - (#{50px} / 2));
}

.footer-col-2 {
    width: -webkit-calc(25% - (#{50px} / 2));
    width:         calc(25% - (#{50px} / 2));
}

.footer-col-3 {
    width: -webkit-calc(50% - (#{50px} / 2));
    width:         calc(50% - (#{50px} / 2));
}

@media (max-width: 1180px) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{50px} / 2));
        width:         calc(50% - (#{50px} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{50px} / 2));
        width:         calc(100% - (#{50px} / 2));
    }
}

@media (max-width: 550px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{50px} / 2));
        width:         calc(100% - (#{50px} / 2));
    }
}

@media (max-width: 550px) {
	.footer {
		display: none;
	}
}